.clear {
	clear:both;
}
#downloadables {
	float:left;
}
.action-links {
	padding:3px 0 0 3px;
}
.action-links a {
	cursor:pointer;
}
.dc-version,
.dc-filesize {
	max-width:75px;
}
#installing {
display:none;
}
.dc-loading {
	display:block;
	float:left;
	min-width:42px;
	min-height:42px;
	background: url('images/spinner_32x32.gif') no-repeat center left;
}
.install-message {
	display:block;
	float:left;
	margin: 5px 0 15px;
	background-color: #FFFFE0;
    border-color: #E6DB55;	
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0 0.6em;	
	min-width:300px;
}

/* new DLC center */
.pop-dlc-item {
	background: white;
    padding: 15px 15px 190px;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 200px;
    min-height: 600px;
    max-width: 298px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.pop-price-cont .pop-dlc-price-label,
.pop-version-cont .pop-dlc-version-label,
.pop-iversion-cont .pop-dlc-iversion-label,
.pop-filesize-cont .pop-dlc-filesize-label {
	display: inline;
	font-weight: 600;
}

.pop-price-cont .pop-dlc-price,
.pop-version-cont .pop-dlc-version,
.pop-iversion-cont .pop-dlc-iversion,
.pop-filesize-cont .pop-dlc-filesize {
	display:inline-block;
	width:auto;
}

.pop-dlc-description {
	margin:7px 0;
}

.dlc-controls {
	display: block;
	position: absolute;
	margin: 0 -15px;
	width: 100%;
	padding: 15px 15px 0;
	box-sizing: border-box;
	bottom: 15px;
}

.pop-dlc-price,
.pop-dlc-filesize,
.pop-dlc-version,
.pop-dlc-iversion {
	float:right;
}

.pop-dlc-details {
	float:none;
	display:table;
	width:100%;
	margin:0 auto;
	height: 36px;
}

.pop-dlc-details-1 {
    display: table-cell;
	width:50%;
}

.pop-dlc-details-1:first-child {
    padding-right: 0px;
	width: 55%;
}

.pop-dlc-details-1:nth-child(2) {
    padding-left: 10px;
}

.pop-dlc-image {
	display:block;
	min-height:90px;
	margin: -15px -15px 0;
}

.pop-clear {
clear:both;
}

.btn-download {
float:right;
}

.dlc-addon-control {
margin-left:3px;
}

.pop-purchase-cont {
	padding-top:5px;
	text-align:right;
	padding-bottom: 5px;
}

.btn-purchased {
	display:inline-block;
}

body h4.pop-dlc-name {
	margin-top:15px;
	font-weight: bold;
}

.btn-buynow {

}

body .alert.main-license-message {
	margin:10px 0;
}

/* DLC Buttons */
.wp-admin .rhpop {
	margin-top: 30px;
}

.wp-admin .rhpop .btn {
    background-image:none;
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    text-shadow: none;
    border-radius: 3px;
    box-shadow:none;
    padding: 4px 11px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: .25s linear;
    transition: .25s linear;
}

.wp-admin .rhpop .btn-pop-inner {
    color: #ffffff;
}

.wp-admin .rhpop .btn.btn-visit-site {
    color: #ffffff;
    background-color: #bdc3c7;
    display: block;
    margin: 0 0 5px;
}

.wp-admin .rhpop .btn.btn-visit-site:hover {
    color: #ffffff;
    background-color: #cacfd2;
    border-color: #cacfd2;
}
.wp-admin .rhpop .btn-group .btn.enable-addon {
    color: #ffffff;
    background-image: none;
    border-radius: 4px 0 0 4px;
}
.wp-admin .rhpop .btn-group .btn.enable-addon.active {
   /* background-color: #51a351;*/
}

.dc-content .dlc-addon-control .btn.enable-addon:hover {
    background-color: #51a351;
    color:#fff;
}

.dc-content .dlc-addon-control .btn.disable-addon:hover {
    background-color: #bd362f;
    color:#fff;
}

.wp-admin .rhpop .btn-group .btn.disable-addon {
    border-radius: 0 4px 4px 0;
}
.wp-admin .rhpop .btn-group .btn.disable-addon.active {
    /*background-color: #bdc3c7;*/
}
.wp-admin .rhpop .btn-group .btn:hover {
    opacity: .7;
}
.wp-admin .rhpop .btn.btn-download{
    text-shadow:none;
    min-width: 94px;
    display: block;
    width: 100%;
}
.wp-admin .rhpop .btn.btn-download:hover {
    opacity:.7;
}
.wp-admin .rhpop .btn.btn-download.disabled {
    color: #ffffff;
    background-color: #bdc3c7;
    opacity: .5;
}
.wp-admin .rhpop .btn.btn-purchased {
    min-width: 111px;
    width: 100%;
}
.wp-admin .rhpop .btn.btn-buynow {
    min-width: 111px;
    width: 100%;
}
.wp-admin .pop-discount-code {
	text-align:right;
}

.wp-admin .rhpop .btn.btn-pop-discount-code {
    background-color: #5bb75b;
}

.wp-admin .rhpop input.pop-discount-code-inp[type="text"]{
	float:left;
	width: 54%;
	height:30px;
	border: 1px solid #ddd;
	color: #34495e;
	font-family: 'Lato', sans-serif;
	padding: 8px 5px;
	text-indent: 6px;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear;
	-moz-transition: border .25s linear, color .25s linear;
	-o-transition: border .25s linear, color .25s linear;
	transition: border .25s linear, color .25s linear;
	-webkit-backface-visibility: hidden;
	font-size:14px;	
	margin-bottom:0;
}
.wp-admin .btn-pop-discount-code {
	background-color:#0044cc;
}
.wp-admin .pop-discount-code {
	opacity:0;
	max-height:0;
	z-index:0;
	overflow:hidden;
	-webkit-transition: opacity .25s linear, max-height .5s linear;
	-moz-transition: opacity .25s linear, max-height .5s linear;
	-o-transition: opacity .25s linear, max-height .5s linear;
	transition: opacity .25s linear, max-height .5s linear;	
}
.wp-admin .show-coupon .pop-discount-code {
	opacity:1;
	max-height:125px;
}

.wp-admin .dlc-update button.btn.btn-primary.btn-download {
    background-color: #f1c40f;
}

.wp-admin .pop-dlc-iversion {
	color:#5bb75b;
}

.wp-admin .dlc-update .pop-dlc-iversion {
    color:#c0392b;	
}

.wp-admin .rhpop .pop-dlc-image img {
    width: 100%;
}

.wp-admin .rhpop .dlc-addon-control {
    width:100%;
    box-sizing:border-box;
    margin: 0px auto 5px;
}

.wp-admin .rhpop .dlc-addon-control .btn {
    width: 50%;
}